.Rhistory
.Rprofile
*.csv
*.sav
*.sas7bdat
*.xlsx
*.xls
*.pdf
*.fff
*.log
*.tex
.Rproj.user
!friend.csv
!codebook_friend.csv
!advise.csv
!codebook_advise.csv
!work.csv
!codebook_work.csv
!attr.csv
!codebook_attr.csv
